@font-face {
  font-family: "ohou";
  src: url("./assets/fonts/ohou.eot");
  src: url("./assets/fonts/ohou.eot") format("embedded-opentype"),
    url("./assets/fonts/ohou.ttf") format("truetype"),
    url("f./assets/fonts/sohou.woff") format("woff"),
    url("./assets/fonts/runohou.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
